<ul>
    <% listBooks.forEach(book => { %>
    
    <!-- Need to put anchor tag to link to the correct endpoint. -->
        <a href="allbooks/value/<%= book.id %> ">
            <li class="bookList">
        <div class="idType">
            <span class="bookId"> <%= book.id %> </span>
            <span class="bookType"> <%= book.type %> </span>
        </div>
    
        <!-- keep in mind its always javascript -->
        <div class="image">
            <img class="bookImg" src= <%= book.imgUrl %> >
        </div>
        <div class="titleAuthor">
            <span class="bookTitle"> <%= book.title %> </span>
            <span class="bookAuthor"> <%= book.author %> </span>
        </div>
        

    </li> </a>

    <% }); %>
</ul>

